@model EmployeeWorkScheduler.Web.Models.Admin

@{
    ViewData["Title"] = "Create";
}
<br />
<br />
<br />
<br />
@*<h1>Create</h1>*@

<h3>Profile</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ManagerId" class="control-label"></label>
                <input asp-for="ManagerId" class="form-control col-1"
                       disabled="disabled" readonly="readonly" />
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>

                <select asp-for="Designation" class="form-control">
                  
                    <option value="Associate Developer">Associate Developer</option>
                    <option value="Senior Developer">Senior Developer</option>
                    <option value="Lead Architect">Lead Architect</option>
                </select>
                <span asp-validation-for="Designation"></span>

            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                </select>
                <span asp-validation-for="Gender"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@*
<div>
    <a asp-action="Index2">Back to List</a>
</div>*@
<br />
<br />
<br />
<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
