@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Ollie landing page.">
    <meta name="author" content="Devcrud">
    <title>Ollie Landing page | Free Bootstrap 4.3.x landing page</title>

    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">

    <!-- owl carousel -->
    <link rel="stylesheet" href="assets/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/css/owl.theme.default.css">

    <!-- Bootstrap + Ollie main styles -->
    <link rel="stylesheet" href="assets/css/ollie.css">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <header id="home" class="header">
    </header>

   <br />
   <br />
    <section class="section" id="about">

        <div class="container">
           <div class="about-us section-padding" data-scroll-index='1'>
                <div class="container">
                    <div class="row">
                                <div class="col-md-12 section-title text-center">
                                    <h3>We Help Grow Your Productivity</h3>
                                    <p>-----------</p>
                                    <h7>If you have right set of mind, you can conquer the world. Cheers!</h7>
                                    <span class="section-title-line"></span>
                                </div>
                      
                                <div class="col-md-6 mb-50">
                                    <div class="section-info">
                                        <div class="sub-title-paragraph">
                                            <br />
                                            <br />
                                            <br />
                                            <h4>Scheduling is your friend</h4>
                                   
                                            <br />
                                   
                                            <p>You need to schedule your time and record that schedule so you know what you are doing and when you are doing it. It’s like a place for everything and everything in its place. You should determine what time of day you are most productive and make that the time when you get the most important tasks done. Use a planning tool and it shall work best for you. Make sure you look through your schedule on a daily basis.<br /><br />You have recorded what you do each day and know what you are dealing with. Now you can choose the most important tasks and put them at the top of your list in terms of priority.The best way to manage your time is to take time away from non-important tasks so you can focus on more important tasks, hopefully preventing them from becoming urgent. This will keep your urgent priorities to a minimum, reducing your stress.</p>
                                        </div>
                                       @* <a href="#" class="anchor-btn">Learn more <i class="fas fa-arrow-right pd-lt-10"></i></a>*@
                                    </div>
                                </div>
                                <div class="col-md-6 mb-50">
                                    <br />
                                    <div class="section-img"> <img src="~/imgs/slider-img.png" alt="" class="img-responsive" /> </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />

    <section class="section">
           <div class="container">          
            <h6 class="section-title">EASY-TO-USE TOOLS THAT WORK TOGETHER</h6>
            <h3 class="xs-font mb-0">Planning Pod’s all-in-one platform gives you the power to...</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="cards-wrapper">
                           
                            <div class="card">
                                <img src="~/imgs/img-5.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Track every detail in one convenient place</h5>
                                    <p class="card-text">Spreading task data across countless spreadsheets, stand-alone apps & emails just makes your job harder. We integrate task-specific tools into one platform so you & your team can access every detail throughout the entire event lifecycle.</p>
                                   
                                </div>
                            </div>
                            <div class="card d-none d-md-block">
                                <img src="~/imgs/img-6.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Save time and automate processes</h5>
                                    <p class="card-text">Managing tasks and all the details involved can consume untold hours. Our tools are built to simplify common tasks and create timesaving automations and workflows, minimizing busywork so you can breathe and focus on higher level tasks.</p>
                                  
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="cards-wrapper">
                            <div class="card">
                                <img src="~/imgs/img-4-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Minimize oversights and gain key insights</h5>
                                    <p class="card-text">Sometimes it only takes one missed deadline or dropped assignment to create chaos. Our application makes your work life drama-free that keep you & your team organized & on track.Our platform gives real-time view of your tasks & work.</p>@* What's more, our platform pulls together your data to give you a real-time, big-picture view of your tasks and work.</p>
                                   *@
                                </div>
                            </div>
                            <div class="card d-none d-md-block">
                                <img src="~/imgs/img-7.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Access your tasks on-the-go</h5>
                                    <p class="card-text">Our application provides Mobile-friendly version so you can log in via the Web browser of any computer, tablet or smartphone & access your account on-the-go.Our tools make it easy to communicate & coordinate with others in real-time.</p>
                                   
                                </div>
                            </div>
                           
                        </div>
                    </div>
                   
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div>
    </section>

    <br />
    <br />
    <section class="section" id="testmonial">
        <div class="container">
            <h6 class="xs-font mb-0">Hear out from our</h6>
            <h3 class="section-title">Leads</h3>

            <div id="owl-testmonial" class="owl-carousel owl-theme mt-4">
                <div class="item">
                    <div class="textmonial-item">
                        <img src="~/imgs/team-3.jpg" class="avatar" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page">
                        <div class="des">
                            <h5 class="ti-quote-left font-weight-bold"></h5>
                            <p><strong>Start each day with a plan !</strong></p>
                            <p>"Spend the first 30 minutes of each day, determining how you will spend the rest of it. Whether you use an application like ours or do or an old-fashioned pen and paper list, don’t start your work without a plan! Your plan should prioritize action items and estimate how long each item will take you." </p>
                            <h5 class="ti-quote-left text-right font-weight-bold"></h5>
                            <div class="line"></div>
                            <h6 class="name">Emma Re</h6>
                            <h6 class="xs-font">Full stack developer</h6>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="textmonial-item">
                        <img src="~/imgs/tm3.jpg" class="avatar" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page">
                        <div class="des">
                            <h5 class="ti-quote-left font-weight-bold"></h5>
                            <p><strong>Work-Life Balance.</strong></p>
                            <p>"The first step in achieving work-life balance is determining just how much you have to do in a day. Knowing the work and personal tasks you are responsible for helps you understand where most of your day is going, as well as figure out whether you’re taking on too many responsibilities."</p>
                                <h5 class="ti-quote-left text-right font-weight-bold"></h5>

                            <div class="line"></div>
                            <h6 class="name">John Doe</h6>
                            <h6 class="xs-font">Graphic Designer</h6>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="textmonial-item">
                        <img src="~/imgs/tm5.jpg" class="avatar" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing page">
                        <div class="des">
                            <h5 class="ti-quote-left font-weight-bold"></h5>
                            <p><strong>Avoid Excessive Overtime.</strong></p>
                            <p>" Excessive overtime hours don’t necessarily mean that you are working harder than expected. It can also be poor time management throughout your day.Usually, the key is to work smarter, not harder. So leave the office on time, relax and spend time with family or friends." </p>
                            <h5 class="ti-quote-left text-right font-weight-bold"></h5>

                            <div class="line"></div>
                            <h6 class="name">Emily Roe</h6>
                            <h6 class="xs-font">Senior Application Developer</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />

    <section class="section" id="about">
       <div class="container">
            <div class="about-us section-padding" data-scroll-index='1'>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 section-title text-center">
                            <h3>Make The Most Of Your Time !</h3>
                            <p>-----------</p>
                            <h7> Here are the best tips to make your time management strategy one that maximizes your potential !</h7>
                           
                             <span class="section-title-line"></span>
                        </div>

                        <div class="col-md-6 mb-50">
                            <div class="section-info">
                                <div class="sub-title-paragraph">
                                    <br />
                                    <br />
                                    <br />
                                    <h4>Assess how you spend your time.</h4>
                                   <br />
                                    <p>When you’re ready to determine how to make the most of your time and increase your productivity, you need to first understand how you currently spend your time. A useful tool is to create a time journal or time log.<br /> We all have days that are less productive, but our overall productivity should be high from one day to the next. You also need to have a good grasp on which methods of organization work best for you in terms of scheduling your time.</p>
                                </div>
                              @*  <a href="#" class="anchor-btn">Learn more <i class="fas fa-arrow-right pd-lt-10"></i></a>*@
                            </div>
                        </div>
                        <div class="col-md-6 mb-50">
                            <br />
                            <br />
                            <div class="section-img"> <img src="~/imgs/welcome3.png" alt="" class="img-responsive" /> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    </div>
    </section>

    <br />
    <br />
    <br />
    <br />

    <section id="contact" class="section pb-0">
     </div>
    </section>

    <!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Owl carousel  -->
    <script src="assets/vendors/owl-carousel/js/owl.carousel.js"></script>


    <!-- Ollie js -->
    <script src="~/js/ollie.js"></script>

</body>
</html>
